*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins', sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
/* Gradiente usando los morados más intensos (Fila 2) */
background:linear-gradient(135deg, #140842, #3c096c);
}

/* CONTENEDOR */

.register-box{
background:white;
padding:40px;
border-radius:10px;
width:350px;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
text-align:center;
}

.register-box h2{
margin-bottom:20px;
/* Azul pizarra oscuro (Fila 3) */
color:#253441;
}

/* INPUTS */

.input-group{
margin-bottom:15px;
text-align:left;
}

.input-group label{
font-size:14px;
/* Gris azulado (Fila 3) */
color:#435966;
}

.input-group input{
width:100%;
padding:10px;
margin-top:5px;
border-radius:5px;
/* Gris claro neutro (Fila 1) */
border:1px solid #ced4da;
outline: none;
transition: 0.3s;
}

.input-group input:focus{
/* Morado vibrante al seleccionar (Fila 2) */
border-color:#7b2cbf;
box-shadow: 0 0 5px rgba(123, 44, 191, 0.2);
}

/* BOTON */

.register-btn{
width:100%;
padding:10px;
border:none;
/* Morado intenso (Fila 2) */
background:#5a189a;
color:white;
font-size:16px;
border-radius:5px;
cursor:pointer;
margin-top:10px;
transition: 0.3s;
}

.register-btn:hover{
/* Morado vibrante (Fila 2) */
background:#7b2cbf;
}

/* LINK LOGIN */

.login-link{
margin-top:15px;
font-size:14px;
/* Gris medio (Fila 1) */
color:#6c757d;
}

.login-link a{
/* Morado claro para el enlace (Fila 2) */
color:#9d4edd;
text-decoration:none;
font-weight:600;
transition: 0.3s;
}

.login-link a:hover{
color:#7b2cbf;
text-decoration: underline;
}