*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins', sans-serif;
}

body{
background:#e9ecef; /* Gris claro de la 1ra paleta */
color:#212529; /* Gris oscuro de la 1ra paleta */
}

.header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:white;
box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

nav ul{
display:flex;
list-style:none;
gap:20px;
}

nav a{
text-decoration:none;
color:#253441; /* Gris azulado oscuro de la 3ra paleta */
font-weight:500;
transition: 0.3s;
}

nav a:hover{
color:#7b2cbf; /* Morado de la 2da paleta */
}

/* TITULO */

.title{
text-align:center;
margin-top:60px;
margin-bottom:30px;
font-size:32px;
color:#140842; /* Morado noche de la 2da paleta */
}

/* CONTENEDOR */

.course-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:30px;
max-width:1100px;
margin:auto;
padding:40px 20px;
}

/* TARJETAS */

.course-card{
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 4px 15px rgba(0,0,0,0.05);
text-align:center;
transition:0.3s;
}

.course-card:hover{
transform:translateY(-8px);
}

.course-card img{
width:100%;
border-radius:8px;
margin:15px 0;
}

.course-card p{
font-size:14px;
margin-bottom:15px;
color:#495057; /* Gris medio de la 1ra paleta */
}

.info{
margin-bottom:15px;
color:#2e4052; /* Gris azulado de la 3ra paleta */
}

.subscribe{
padding:10px 20px;
border:none;
background:#5a189a; /* Morado intenso de la 2da paleta */
color:white;
border-radius:6px;
cursor:pointer;
transition: 0.3s;
}

.subscribe:hover{
background:#3c096c; /* Morado más oscuro de la 2da paleta */
}

.level{
display:inline-block;
background:#e0aaff; /* Morado pastel de la 2da paleta */
color:#3c096c; /* Morado oscuro de la 2da paleta */
padding:5px 10px;
border-radius:5px;
font-size:12px;
margin-bottom:10px;
font-weight: 600;
}

/* FOOTER */

footer{
margin-top:60px;
text-align:center;
padding:20px;
background:#253441; /* Gris azulado oscuro de la 3ra paleta */
color:white;
}